{% extends 'base.html' %}
{% block title %}
    Write comment
{% endblock %}
{% block content %}
{% if user.is_authenticated %}

    <h1>Write your comment...</h1>
    <br/><br/>
    <div class="form-group">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <br/>
            <button class="btn btn-dark">Add Comment</button>
        </form>
    </div>

    <script>
        var name = "{{ user.id }}";
        document.getElementById("elder").value = name

    </script>
    <script>
        var name = "{{ post.id }}";
        document.getElementById("post").value = name

    </script>
{% else %}
    You are not allowed here!
{% endif %}
{% endblock %}