{% extends 'base.html' %}
{% block title %}
    Delete Post
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if user.id == comment.user.id %}
        <h1>Delete a Comment...</h1>
        <br/><br/>
        <h3> Delete: {{ post.title }}</h3>

        <div class="form-group">
            <form method="post">

                {% csrf_token %}
                <strong><h3>Are you sure?!</h3></strong> <br/><br/>
                <a href="{% url 'comments' comment.post.id %}" class="btn btn-primary">No!</a>
                <button class="btn btn-danger">Delete Comment!</button>
            </form>
        </div>
    {% else %}
        You are not allowed here!
    {% endif %}
{% else %}
    You are not allowed here!
{% endif %}
{% endblock %}