{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ user_pr.user.username }}
{% endblock %}
{% block content %}

<br/><br/>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-2">
        {% if user_pr.ava %}
            <img src="{{ user_pr.ava.url }}"  class="card-img"  alt="..." width=150 height=200>
        {% else %}
            <img src="{% static 'main/images/blank-ava.jpg' %}" class="card-img"  alt="..." width=auto height=186>
        {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">
            {{ user_pr.user.username }}
        </h5>

          <h5 class="card-title">
            {{ user_pr.user.first_name }}
            {{ user_pr.user.last_name }}
          </h5>
            {{ user_pr.bio }}

       <br/><br/> <a href="{% url 'posts_by_user' user_pr.user.id %}" class="btn btn-dark">Posts {{ user_pr.total_posts }}</a>
       <a href="{% url 'followers' user_pr.id %}" class="btn btn-dark">Followers {{ user_pr.total_followers }}</a>
      {% if user.is_authenticated %}
          {% if user.id != user_pr.user.id %}
              {% if followed %}
                  <br/><br/>
                  <form action="{% url 'subscribe' user_pr.pk %}" method="post" >
                       {% csrf_token %}
                       <button type="submit" name="profile_id" value="{{ user_pr.id }}" class="btn btn-secondary"><small>Unsubscribe</small></button>
                   </form>
              {% else %}
                   <br/><br/>
                  <form action="{% url 'subscribe' user_pr.pk %}" method="post" >
                       {% csrf_token %}
                       <button type="submit" name="profile_id" value="{{ user_pr.id }}" class="btn btn-danger">Subscribe</button>
                   </form>
              {% endif %}
          {% endif %}
       {% else %}
          {{ user_pr.total_followers }}
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% if user.id == profile.user.id %}
    <a href="{% url 'edit_profile' user_pr.id %}" class="btn btn-dark">Edit Profile</a>
    <a href="{% url 'edit_user_data' %}" class="btn btn-dark">Edit Settings</a>
{% endif %}
{% endblock %}